*{
    margin: 0%;
    padding: 0%;
}
.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}



/* TAG SELECTOR */
body{
    background: radial-gradient( circle,
    rgba(255, 45, 209, 1) 25%,
    rgba(179, 55, 145, 1) 100%

);
}

button{
    padding: 1em 2em;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 1000px;
    font-family: "Emilys Candy", serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
button::after{
    content: "";
    position: absolute;
    height: 110%;
    width: 105%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1e1890, #B33791);
    z-index: -1;

}

button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #7F55B1, -40px 0 100px #610949;
}


/* CLASS SELECTOR */
.message{
   height: 100vh;
    display: grid;
    place-items: center;
}


.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    position: absolute;
    margin-top: 80px;
    width: 40ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(40) ;

}

@keyframes typing {
    from{
        width: 0;
    }
    
}


/* ID SELECTOR */
